## Filter a Shapefile using an Excel Sheet

This notebook shows how to read data from an Excel sheet containing IDs that need to be selected from another shapefile. We used Pandas `isin()` function to apply a filter for the ids from the Excel file.

In [ ]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [29]:
roads = gpd.read_file('all_roads.shp')
roads

,fid,osm_id,code,fclass,name,ref,oneway,maxspeed,layer,bridge,tunnel,geometry
0,1.0,4354953,5114,secondary,Mahatma Gandhi Road,None,F,30,0.0,F,F,"LINESTRING (77.59928 12.97672, 77.59950 12.976..."
1,2.0,8285861,5114,secondary,None,None,B,0,0.0,F,F,"LINESTRING (76.65944 12.31809, 76.65904 12.318..."
2,3.0,8285868,5113,primary,Bangalore Nilgiri Road,None,F,0,0.0,F,F,"LINESTRING (76.65906 12.31389, 76.65912 12.313..."
3,4.0,8285890,5115,tertiary,Sri Harsha Road,None,F,0,0.0,F,F,"LINESTRING (76.65600 12.30895, 76.65646 12.308..."
4,5.0,8285892,5114,secondary,Ashoka Road,None,F,0,0.0,F,F,"LINESTRING (76.65615 12.30989, 76.65600 12.308..."
...,...,...,...,...,...,...,...,...,...,...,...,...
44601,44602.0,763293423,5114,secondary,Kamaraj Road,None,F,0,0.0,F,F,"LINESTRING (77.60806 12.97517, 77.60797 12.97508)"
44602,44603.0,763293424,5114,secondary,Mahatma Gandhi Road,None,F,30,0.0,F,F,"LINESTRING (77.60798 12.97519, 77.60806 12.97517)"
44603,44604.0,763295978,5114,secondary,18th Cross Road,None,B,0,0.0,F,F,"LINESTRING (77.57115 13.00849, 77.57156 13.008..."
44604,44605.0,763405052,5113,primary,Varthur Road,None,F,0,0.0,F,F,"LINESTRING (77.70140 12.95693, 77.70164 12.956..."
44605,44606.0,763405053,5113,primary,Field Marshal Cariappa Road,None,F,30,0.0,F,F,"LINESTRING (77.61040 12.97360, 77.61052 12.97365)"

In [21]:
roads['osm_id'] = roads['osm_id'].astype(np.int64)

In [22]:
subset = pd.read_excel('subset.xlsx')
subset

        osm_id
0     22839392
1     22839393
2     22839393
3     59859093
4     70379000
..         ...
257  757854892
258  757854893
259  757854894
260  757854895
261  757867990

[262 rows x 1 columns]

In [ ]:
id_list = subset['osm_id']

In [28]:
roads[roads['osm_id'].isin(id_list.values)]

,fid,osm_id,code,fclass,name,ref,oneway,maxspeed,layer,bridge,tunnel,geometry
154,155.0,22839392,5112,trunk,None,NH150A,B,0,0.0,F,F,"LINESTRING (76.53588 13.58250, 76.53623 13.583..."
155,156.0,22839392,5112,trunk,None,NH150A,B,0,0.0,F,F,"LINESTRING (76.53056 13.65858, 76.52986 13.659..."
156,157.0,22839392,5112,trunk,None,NH150A,B,0,0.0,F,F,"LINESTRING (76.53002 13.66245, 76.53007 13.662..."
157,158.0,22839392,5112,trunk,None,NH150A,B,0,0.0,F,F,"LINESTRING (76.53029 13.66308, 76.53031 13.663..."
158,159.0,22839393,5115,tertiary,None,None,B,0,0.0,F,F,"LINESTRING (76.47633 13.57369, 76.47637 13.576..."
...,...,...,...,...,...,...,...,...,...,...,...,...
44222,44223.0,757854892,5115,tertiary,None,None,B,0,0.0,F,F,"LINESTRING (76.53855 13.59433, 76.53946 13.594..."
44223,44224.0,757854893,5115,tertiary,None,None,B,0,0.0,F,F,"LINESTRING (76.52967 13.60141, 76.52974 13.600..."
44224,44225.0,757854894,5115,tertiary,None,None,B,0,0.0,F,F,"LINESTRING (76.58205 13.55130, 76.58193 13.551..."
44225,44226.0,757854895,5115,tertiary,None,None,B,0,0.0,F,F,"LINESTRING (76.57364 13.57775, 76.57367 13.577..."
44229,44230.0,757867990,5115,tertiary,None,None,B,0,0.0,F,F,"LINESTRING (76.57557 13.35487, 76.57557 13.354..."